body {
  margin: 0;
  min-height: 100vh;
  background-color: #f6e7c1;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  /* Use Flexbox aqui */
}

.card {
  background-color: #ffffff;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
